In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
array=[]

In [3]:
for i in range(1, 16):
    csv_location = "../"+str(i)+".csv"
    df = pd.read_csv(csv_location, header=None)
    array.append(df)

In [4]:
dataset = pd.concat(array, sort=False)

In [5]:
dataset.head()

     0     1     2     3  4
0  0.0  1502  2215  2153  1
1  1.0  1667  2072  2047  1
2  2.0  1611  1957  1906  1
3  3.0  1601  1939  1831  1
4  4.0  1643  1965  1879  1

In [6]:
dataset.columns=['Time', 'X', 'Y', 'Z', 'Activity']

In [7]:
dataset.head()

   Time     X     Y     Z  Activity
0   0.0  1502  2215  2153         1
1   1.0  1667  2072  2047         1
2   2.0  1611  1957  1906         1
3   3.0  1601  1939  1831         1
4   4.0  1643  1965  1879         1

In [9]:
dataset['Activity'].value_counts()

1    608667
7    593563
4    357064
3    216737
5     51498
2     47878
6     47770
0      3719
Name: Activity, dtype: int64

In [10]:
dataset = dataset.drop(dataset[dataset.Activity.isin([0])].index)
dataset = dataset.drop(['Time'], axis = 1).copy()

In [11]:
dataset['Activity'].value_counts()

7    590836
1    581107
4    351386
3    205201
5     51498
2     47713
6     47493
Name: Activity, dtype: int64

In [13]:
dataset['Activity'] = dataset['Activity'].replace([1,2,3,4,5,6,7],[0,1,2,3,4,5,6])
dataset['Activity'].value_counts()

6    590836
0    581107
3    351386
2    205201
4     51498
1     47713
5     47493
Name: Activity, dtype: int64

In [14]:
WorkingPC = dataset[dataset['Activity']==0].head(47493).copy()
StandingUp_Walking_Stairs = dataset[dataset['Activity']==1].head(47493).copy()
Standing = dataset[dataset['Activity']==2].head(47493).copy()
Walking = dataset[dataset['Activity']==3].head(47493).copy()
ClimbingStairs = dataset[dataset['Activity']==4].head(47493).copy()
Walking_Talking = dataset[dataset['Activity']==5].head(47493).copy()
Talking = dataset[dataset['Activity']==6].head(47493).copy()

balanced_data = pd.DataFrame()
balanced_data = balanced_data.append([WorkingPC, StandingUp_Walking_Stairs, Standing, Walking, ClimbingStairs, Walking_Talking, Talking])

In [15]:
input_data = balanced_data[['X', 'Y', 'Z']]
label = balanced_data['Activity']

scaler = StandardScaler()
input_data = scaler.fit_transform(input_data)

processed_data = pd.DataFrame(data = input_data, columns = ['x', 'y', 'z'])
processed_data['label'] = label.values

In [16]:
processed_data.to_csv('CSV_processed.csv')